<footer class="foot">
    <div class="ff">
    <div class="f1">
        <div>
            <h2>Lets Talk</h2>
            <p>I’m a passionate and motivated fresher actively looking for job <br>opportunities in software development.<br>
             If you’re hiring or open to connecting, I’d love to hear from you!
            </p>
        </div>

        <div>
            <p>Email: esaiteja2358@gmail.com</p>
            <p>Phone: +91 9000749749</p>
            <p>Address : Hyderabad,Telangana,India</p>
            Follow me:
        🌐 <a href="https://github.com/ESaiTeja1303">Github</a> | <a href="https://www.linkedin.com/in/esaiteja/">LinkedIn</a> 

        </div>
    </div>
    <div class="f2">
    <p style="text-align: center;">Developed By Eraram Sai Teja Goud</p>
    <p style="text-align: center;">&copy; 2025 Notes App. All rights reserved.</p>
    </div>
    </div>
    
</footer>