
{% extends 'base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/forgotpass.css">

{% endblock %}
{% block content %}
    <div class="parent">
    <div class="login">
    <h1>Forgot Password?</h1>
    {{info}}
    <form action="/forgotpassword" method="POST">
        <label for="email">Email</label><br><br>
        <input type="email" id="email" name="email" placeholder="Enter Mail" required>
        <br><br><button type="submit" >Submit</button>
    </form>
    
    </div>

    <div>
        <img src="/static/images/imgf8.png" alt="login" height="500px">
    </div>
    </div>
{% endblock%}