<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
    
</head>
<body>
    <div style="display: flex;flex-direction: column;">
    <div>
    <div class="nvb">
    <a href="/">Home</a> |
    <a href="/login">Login</a> |
    <a href="/register">Register</a> |
    <a href="/contact">Contact</a>
    </div>
    <div class="cen">
        <h1>Welcome To Notes Management Home Page</h1>
        <img src="/static/images/imgh7.png" alt="n1" >
    </div>
    </div>

   <footer class="foot">
    
    <div class="f1">
        <div>
            <h2>Lets Talk</h2>
            <p>I’m a passionate and motivated fresher actively looking for job <br>opportunities in software development.<br>
             If you’re hiring or open to connecting, I’d love to hear from you!
            </p>
        </div>

        <div>
            <p>Email: esaiteja2358@gmail.com</p>
            <p>Phone: +91 9000749749</p>
            <p>Address : Hyderabad,Telangana,India</p>
            Follow me:
        🌐 <a href="https://github.com/ESaiTeja1303">Github</a> | <a href="https://www.linkedin.com/in/esaiteja/">LinkedIn</a> 

        </div>
    </div>
    <div class="f2">
    <p style="text-align: center;">Developed By Eraram Sai Teja Goud</p>
    <p style="text-align: center;">&copy; 2025 Notes App. All rights reserved.</p>
    </div>
    
    </footer>
    </div>
</body>
</html>