
{% extends 'base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/login.css">

{% endblock %}
{% block content %}
    
    <div class="login">
    <h1>Reset Password</h1>
    {{info}}
    <form  method="POST">
        <label for="newpassword">New Password</label><br><br>
        <input type="password" id="newpassword" name="newpassword" placeholder="Enter new Password" required><br><br>
        <label for="confirmpassword">Confirm Password</label><br><br>
        <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Enter confirm Password" required>
        <br><br><button>Submit</button>
        
    </form>
    
    </div>
{% endblock%}